---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    <hr class="section-divider">
    <div class="latest-news">
      {% if page.news and site.announcements.enabled %}
        <h3>
          <a href="{{ '/news/' | relative_url }}" style="color: inherit">Latest News</a>
        </h3>
        {% include news.liquid limit=true %}
      {% endif %}
    </div>

    {% comment %}
      <!-- Latest posts -->
      {% if site.latest_posts.enabled %}
        <h2>
          <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
        </h2>
        {% include latest_posts.liquid %}
      {% endif %}
    {% endcomment %}

    <!-- Selected papers -->
    <hr class="section-divider">
    <div class="selected-publications">
      {% if page.selected_papers %}
        <h3>
          <a href="{{ '/publications/' | relative_url }}" style="color: inherit">Selected Publications</a>
        </h3>
        {% include selected_papers.liquid %}
      {% endif %}
    </div>

    <!-- Teaching Assistant -->
    <hr class="section-divider">
    <div class="teaching-assistant">
      <h3>Selected Awards and Honors</h3>
      <ul>
        <li>IJCAI Travel Grant, IJCAI Organization, 2024</li>
        <li>Conference Grant, City University of Hong Kong, 2024</li>
        <li>DSN Student Travel Grant, DSN Student Travel Awards Committee, 2024</li>
        <li>Research Activities Fund, City University of Hong Kong, 2022</li>
        <li>Institutional Research Tuition Grant, City University of Hong Kong, 2020</li>
        <li><strong>CityU Presidential PhD Scholarship</strong> (HK$1.56m for world-class PhD candidates), City University of Hong Kong, 2020</li>
        <li>NII MOU Research Activities Grant, National Institute of Informatics, Japan, 2018</li>
        <li>CSC Scholarship, China Scholarship Council, 2016</li>
        <li>Stars of Advanced Engineering, the highest honor at the Shen Yuan Honors College, Beihang University, 2015</li>
      </ul>
    </div>

    <!-- Professional Activities -->
    <hr class="section-divider">
    <div class="professional-activities">
      <h3>Professional Activities</h3>
      <strong>Program Committee Member</strong>
      <ul class="custom-margin">
        <li>ICML 2026, CVPR 2026, ICLR 2026, AAAI 2026, ICRA 2026, MM 2025, ICLR 2025, AAAI 2025</li>
      </ul>
      <strong>Journal Reviewer</strong>
      <ul class="custom-margin">
        <li>IEEE TDSC, IEEE TSC, IEEE TC</li>
      </ul>
      <strong>External Reviewer</strong>
      <ul>
        <li>NeurIPS 2025, ICNP 2025, ESORICS 2022, AsiaCCS 2022, RAID 2021, IEEE IoT-J</li>
      </ul>
    </div>

    <!-- Research & Work Experience -->
    <hr class="section-divider">
    <div class="teaching-assistant">
      <h3>Research & Work Experience</h3>
      Visiting Researcher @ <a href="http://en.xjtu.edu.cn">Xi'an Jiaotong University</a>
      <ul class="custom-margin">
        <li>Supervised by <a href="https://gr.xjtu.edu.cn/web/cshen/english">Prof. Chao Shen</a></li>
        <li>Sep 2022 - Aug 2023, Xi'an, China</li>
      </ul>
      Senior Researcher @ <a href="https://www.huawei.com/en/">Huawei</a>
      <ul class="custom-margin">
        <li>May 2020 - Aug 2020, Xi'an, China</li>
      </ul>
      Visiting Researcher @ <a href="http://en.xjtu.edu.cn">Xi'an Jiaotong University</a>
      <ul class="custom-margin">
        <li>
          Supervised by <a href="https://gr.xjtu.edu.cn/web/cshen/english">Prof. Chao Shen</a> & <a href="http://xingjunma.com">Prof. Xingjun Ma</a>
        </li>
        <li>Nov 2019 - Feb 2020, Xi'an, China</li>
      </ul>
      Research Intern @ <a href="https://www.nii.ac.jp/en/">National Institute of Informatics</a>
      <ul class="custom-margin">
        <li>Supervised by <a href="https://www.tamagawa.jp/research/brain_e/aibot.html">Prof. Tetsunari Inamura</a></li>
        <li>Feb 2018 - May 2018, Tokyo, Japan</li>
      </ul>
      Research Intern @ <a href="https://www.unsw.edu.au">The University of New South Wales</a>
      <ul>
        <li>Supervised by <a href="https://www.unsw.edu.au/staff/elias-aboutanios">Prof. Elias Aboutanios</a></li>
        <li>Feb 2016 - June 2016, Sydney, Australia</li>
      </ul>
    </div>

    <!-- Teaching Assistant -->
    <hr class="section-divider">
    <div class="teaching-assistant">
      <h3>Teaching Assistant</h3>
      <ul>
        <li>
          CS5293, Topics on Information Security, Semester B 2023/24, <a href="https://github.com/x-zheng16/CS5293-Tutorials">Code for Tutorial</a>
        </li>
        <li>CS4394, Information Security and Management, Semester A 2023/24</li>
        <li>CS4293 / CS5293, Topics in Cybersecurity / Topics on Information Security, Semester B 2021/22</li>
        <li>CS4394 / CS5294, Information Security and Management, Semester A 2021/22</li>
        <li>CS4293 / CS6290, Topics in Cybersecurity / Privacy-enhancing Technologies, Semester B, 2020/21</li>
        <li>CS2310 / CS2311, Computer Programming, Semester A, 2020/21</li>
      </ul>
    </div>

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
